div {
  outline: 0 solid red;
}

.bg-1 {
  background-image: url("img/lighthouse.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background: rgba(124, 137, 140, 0.3);
  margin: 0;
}

.bg-2 {
  background: rgba(131, 140, 142, 0.5);
  border: 0.5px solid rgba(124, 137, 140, 0.5);
  border-radius: 5px;
  color: #e6f7ff;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.hello {
  text-align: center;
  font-size: 85px;
  font-family: lobster;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 6px 2px 8px rgba(150, 150, 150, 0.9);
  margin: 2rem;
}

.me {
  height: 15rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.link {
  color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  text-shadow: 6px 2px 8px rgba(150, 150, 150, 0.9);
}

h3 {
  font-family: lobster;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 6px 2px 8px rgba(150, 150, 150, 0.9);
}

h4 {
  font-family: Slabo27px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 6px 2px 8px rgba(150, 150, 150, 0.9);
  margin: 2rem;
}

.inside-img1 {
  background-image: url("img/waves-crash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
}

.inside-img2 {
  background-image: url("img/waves-white.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
}

.inside-img3 {
  background-image: url("img/waves-blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
}

.inside-img4 {
  background-image: url("img/ocean-rainbow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
}

.card {
  background: rgba(131, 140, 142, 0.5);
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.footer {
  margin-bottom: 1rem;
}

.github {
  color: rgba(255, 255, 255, 0.8);
}

.logo {
  height: 5rem;
  width: 5rem;
  margin: 1rem;
}

.m-b-1 {
  margin-bottom: 1rem;
}

.no-shadow {
  text-shadow: none;
}

.container-fluid {
  padding-right: 0;
}
